---
import { getCollection } from "astro:content";
import BlogPostLayout from "@/layouts/BlogPostLayout.astro";

import { getLangFromUrl } from "@/i18n/utils";

const { post_id } = Astro.params;
const lang = getLangFromUrl(Astro.url);

const blogEntries = await getCollection("blog");
const blogEntriesFiltered = blogEntries.filter(
  (entry: any) => entry.data.lang === lang,
);

const entry = blogEntriesFiltered.find(
  (entry: any) => entry.data.post_id === post_id,
);

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");

  return blogEntries.map((entry) => ({
    params: {
      post_id: entry.data.post_id,
    },
  }));
}
---

<BlogPostLayout blogPost={entry}>
  <h1>{entry?.data.title}</h1>
</BlogPostLayout>
