---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>

	</main>
</Layout>

<style>
	:root {
		--primary-color: #FFEC01;
		--secondary-color: #1D1D1D;
		--bg-color: #FAFAFA;
	}
</style>
