---
import Layout from "@/layouts/Layout.astro";
import heroImage from "@/images/hero-img.jpeg";
import HomeCarousel from "@/components/HomeCarousel.astro";
import LastMatches from "@/components/LastMatches.astro";
import NextMatch from "@/components/NextMatch.astro";
---

<Layout title="CFS Altafulla">
  <header class="header">
    <img src={heroImage.src} class="hero-img" />
    <section class="carousel">
      <HomeCarousel />
    </section>
  </header>
  <section class="matches">
    <LastMatches />
    <NextMatch />
  </section>
  <section class="timer"></section>
</Layout>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

  body {
    font-family: var(--primary-font);
    overflow-x: hidden;
  }

  .hero-img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    filter: brightness(0.75);
  }

  .header {
    overflow: hidden;
  }

  .carousel {
    height: 10rem;
  }

  .matches {
    position: relative;
    @media (min-width: 768px) {
      display: flex;
    }

    @media (min-width: 1400px) {
      gap: 6rem;
    }
  }
</style>

<script>
  import { redirectToDesiredLang } from "@/i18n/utils";
</script>
