---
import Layout from "@/layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import BlogPostPreview from "@/components/BlogPostPreview.astro";
import { getCollection } from "astro:content";
import FirstBlogPostPreview from "@/components/FirstBlogPostPreview.astro";

const images = await Astro.glob("/src/assets/images/post-covers/*").then(
  (files) => {
    return files.map((file) => file.default);
  },
);

const imagesReversed = images.reverse();

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const blogEntries = await getCollection("blog");
const blogEntriesFiltered = blogEntries.filter(
  (entry: any) => entry.data.lang === lang,
);
const blogEntriesSorted = blogEntriesFiltered.sort((a: any, b: any) =>
  b.data.date.localeCompare(a.data.date),
);
---

<Layout title={t("nav.news")}>
  <section class="blog-posts">
    {
      blogEntriesSorted.map((entry: any, idx: number) => {
        if (idx === 0) {
          return (
            <FirstBlogPostPreview
              blogPostData={entry.data}
              cover={imagesReversed[idx]}
            />
          );
        } else {
          return (
            <BlogPostPreview
              blogPostData={entry.data}
              cover={imagesReversed[idx]}
            />
          );
        }
      })
    }
  </section>
</Layout>

<style>
  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 5rem;
    padding-bottom: 10rem;
    max-width: 100vw;
    column-gap: 1rem;
    row-gap: 10rem;
    margin: 0 auto;
    max-width: 100rem;
  }

  @media (min-width: 768px) {
    .blog-posts {
      justify-content: center;
    }
  }
</style>
