---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import heroImg from "@/images/hero-img.jpeg";

import { sponsors } from "@/configs/sponsors";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
---

<Layout title={t("nav.sponsors")}>
  <header>
    <div class="img-overlay">
      <img src={heroImg.src} alt="CFS Altafulla" />
    </div>
    <h2>CFS ALTAFULLA PARTNERS</h2>
    <p>
      Som el CFS Altafulla, un club que ha ressorgit de les seves cendres
      gràcies a la passió i l'amor pel futbol sala d'un grup d'amics del poble
      que volem tornar a situar Altafulla al lloc que es mereix esportivament.
      Ens alegra compartir aquesta il·lusió amb els nostres patrocinadors, que
      són una part vital del nostre viatge. Junts aspirem a convertir-nos en un
      referent del futbol sala local.<br />
      <br />

      Benvinguts al naixement d'un somni!
    </p>
    <a href={translatePath("/contact", lang)}>{t("contact.header")} </a>
  </header>
  <main>
    {
      sponsors.map((sponsor) => {
        return (
          <article
            id={sponsor.name}
            class={`sponsor ${sponsor.isMainSponsor ? "sponsor-main" : ""}`}
          >
            <img src={sponsor.logo} />
          </article>
        );
      })
    }
  </main>
</Layout>

<style>
  header {
    padding-top: 3.5rem;
    padding-inline: 1rem;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    position: relative;
  }

  header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* filter: brightness(0.5); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  header .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  header .img-overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.35),
      var(--secondary-color)
    );
  }

  header h2 {
    position: relative;
    z-index: 10;
    color: var(--primary-color);
    width: max-content;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

  header p {
    position: relative;
    z-index: 10;
    color: var(--bg-color);
    max-width: 37.5rem;
    text-align: center;
    margin: 0 auto;
  }

  header a {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    width: max-content;
    display: block;
    color: var(--secondary-color);
    background: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  main {
    background-color: var(--secondary-color);
    margin-top: -1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    padding-block: 5rem;
    gap: 1rem;

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .sponsor {
    width: 15rem;
    height: 6rem;
  }

  .sponsor-main {
    grid-column: span 2;
    width: 20rem;
    height: 12rem;
  }

  .sponsor img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
</style>
