---
import { sponsors } from "@/configs/sponsors";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const mainSponsors = sponsors.filter((sponsor) => sponsor.isMainSponsor);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="main-sponsors">
  <h5 class="main-sponsors__heading">{t("sponsors.home.main")}</h5>
  <div class="main-sponsors__icons">
    {
      mainSponsors.map((sponsor) => (
        <div class="sponsor-logo">
          <img src={sponsor.logo} alt={sponsor.name} />
        </div>
      ))
    }
  </div>
</header>

<style>
  .main-sponsors {
    margin: 4rem 6rem;
  }

  .main-sponsors__icons {
    margin: 2rem auto;
    width: max-content;
  }

  .main-sponsors__icons img {
    -webkit-user-drag: none;
  }

  .main-sponsors__heading {
    color: var(--primary-color);
    text-transform: uppercase;
    margin: 0 auto;
    width: max-content;
  }

  .sponsor-logo {
    width: 15rem;
    height: 6rem;
  }

  .sponsor-logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 1200px) {
    .main-sponsors__icons {
      border-left: 1px solid var(--primary-color);
      padding-left: 2rem;
      display: flex;
      justify-content: center;
      gap: 5rem;
      flex-wrap: wrap;
      max-width: 90%;
    }
  }
</style>
