---
import type { FieldPlayer, Keeper } from "@/types/player";
import cross from "@/svgs/cross.svg";

interface Props {
  isOpen: boolean;
  player: FieldPlayer | Keeper;
}

const { isOpen, player } = Astro.props;
---

<dialog open={isOpen}>
  <aside>
    <div id="dialog-toggle">
      <img src={cross.src} alt="Close dialog" data-icon="cross" />
    </div>
    <div class="text">
      <h2 class="biography-header">
        {`${player.name} ${player.first_surname}`}
      </h2>
      <main>
        <slot />
      </main>
    </div>
  </aside>
</dialog>

<style>
  dialog {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border: 0;
  }

  aside {
    background-color: var(--bg-color);
    height: 100%;
    padding: 1rem 2rem;
    max-width: 48.125rem;
    margin-left: auto;
    animation: fadeIn 0.75s;
    position: relative;
  }

  #dialog-toggle {
    position: fixed;
    height: 3rem;
    width: 3rem;
    top: 5%;
    right: 5%;
    z-index: 10;
    border-radius: 50%;
    padding: 0;
    display: grid;
    place-content: center;

    @media (min-width: 800px) {
      right: auto;
      transform: translateX(-120%);
    }
  }

  #dialog-toggle img {
    width: 100%;
    height: 100%;
  }

  [data-icon="cross"] {
    z-index: 2;
    color: var(--bg-color) !important;
  }

  .text {
    max-width: 41.75rem;
    margin: 0 auto;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 4rem;
  }

  .biography-header {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    animation: fadeIn 1s;
  }

  main {
    font-size: 1.125rem;
    line-height: 1.8rem;
    color: #222;
    animation: fadeIn 1.25s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(50%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>

<script>
  const biographyParagraphs = document.querySelectorAll("dialog aside p");
  const dialog = document.querySelector("dialog") as HTMLDialogElement;
  const dialogToggler = document.querySelector(
    "#dialog-toggle",
  ) as HTMLButtonElement;

  setTimeout(() => {
    biographyParagraphs.forEach((p: any) => {
      p.style.marginBlock = "2rem";
    }, 1);
  });

  dialogToggler.onclick = () => {
    dialog.close();
    console.log("123124");
  };
</script>
